* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.075rem;
}

body {
    min-height: 900px;
    background-color: #8feaf5;
}

.container-header {
    font-size: xx-large;
    padding: 3px;
}

.flex-container {
    width: 90%;
    height: 115vh;
    margin: 5vmax auto;
    padding-bottom: 10%;
    background-color: #efefef;
    box-shadow: 3px 5px 6px #888888;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    box-sizing: content-box;
    border: 1px solid black;
    box-shadow: 2px 4px 6px #888888;
    min-width: 350px;
    height: 25%;
    width: 80%;
    font-size: 20pt;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.container > img {
    width: 50%;
    height: 50%;
    align-self: center;
    margin: 5vh;
}

.inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.text {
    font-size: medium;
    list-style-position: inside;
}


